
body {
  font-family: Itim;
  color: aqua;
  text-align: center;
}

section#carousel>figure>img {
  margin: 0px;
  height: 450px;
  position: absolute;
}

section#carousel>figure.visible>img {
  display: block;
  overflow: hidden;
  position: relative;
  margin: 0px auto;
  
  -webkit-transition: opacity 2.0s ease-in;
  -moz-transition: opacity 2.0s ease-in;
  -o-transition: opacity 2.0s ease-in;
  opacity: 1;
}

section#carousel>figure.hidden>img {
  opacity: 0;
  -webkit-transition: opacity 2.0s ease-in;
  -moz-transition: opacity 2.0s ease-in;
  -o-transition: opacity 2.0s ease-in;
}


