
body {
  font-family: Itim;
  text-align: center;
}
#carousel{
}

img {
  /* margin: 0px auto; */
  height: 34vw;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto
}

.visible>img {
  /* display: block; */
  overflow: hidden;
  -webkit-transition: opacity 2.0s ease-in;
  -moz-transition: opacity 2.0s ease-in;
  -o-transition: opacity 2.0s ease-in;
  opacity: 1;
}

.hidden>img {
  opacity: 0;
  -webkit-transition: opacity 2.0s ease-in;
  -moz-transition: opacity 2.0s ease-in;
  -o-transition: opacity 2.0s ease-in;
}

#paragraphs{
  /* display: inline; */
}

